/* Regular styles for page */

.name {
    padding: 0px;
    float: left;
    width: 25%;
    margin-bottom: 0%;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    position: relative;
    left: 11.5%;
}
body {
    background-color: white;
}
.image {
    float: left;
    padding: 10px;
    height: 350px;
    width: 200px;
}
a:link {
    color: #777777;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #777777;
    background-color: transparent;
    text-decoration: none;
}
.bodyborder {
    background-color: white;
    border-style: solid;
    padding: 10px;
    height: auto;
    width: auto;
}
.aboutme {
    background-color: transparent;
    color: #4aaaa5;
    font-style: bold;
}
.jumbotron {
    background-image: url("images/gravel.png");
    height: auto;
}
.navbarlinks {
    float: right;
    width: 25%;
    text-align: center;
}
.card-footer {
    background-color: black;
}
.card-footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    width: 110%;
    padding: 5px;
    position: fixed;
    bottom: 0;
    right: 0;
}
.btn {
    background-color: #4aaaa5;
}
.image1 {
    padding: 0px;
    height: 200px;
    width: 120px;
}
.banners {
    position: absolute;
    z-index: 2;
    background-color: teal;
    color: white;
    width: 91.5%;
    height: 35px;
    bottom: 38px;
    left: 15px;
    text-align: center;
    padding-top: 4px;
}
.smallIcons {
    float: right;
    padding-right: 10%;
    padding-top: 2%;
}

/* Media Queries for pages */

@media screen and (max-width: 1250px) {
    body {
      background-color: #333;
    }
    .banners {
        background-color: transparent;
    }
    .image {
        width: 100px;
        height: 150px;
    }
    .name {
        width: 50%;
    }
}

