.name {
    padding: 0px;
    float: left;
    width: 25%;
    margin-bottom: 0%;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    position: relative;
    left: 11.5%;
}
.image {
    float: left;
    padding: 10px;
    height: 350px;
    width: 200px;
}
a:link {
    color: #777777;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #777777;
    background-color: transparent;
    text-decoration: none;
}
.bodyborder {
    background-color: white;
    border-style: solid;
    padding: 10px;
    height: auto;
}
.aboutme {
    background-color: transparent;
    color: #4aaaa5;
    font-style: bold;
}
.jumbotron {
    background-image: url("images/gravel.png");
}
.navbarlinks {
    float: right;
    background-color: white;
    width: 25%;
    text-align: center;
}
.card-footer {
    background-color: black;
}
.submit {

}